.wrapper {
  margin-bottom: 79px;
  &__title {
    @extend %h2;
  }
  &__sub-title {
    @extend %sub-title;
  }
}

.columns {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 990px) {
      display: block;
      //width: 100%;
      //margin: 0 auto;
    }
  }
}

.filters {
  &__selects{
    position: relative;
    &__title{
      @include font('Inter', '400', '22px');
      color: #3A3E50;
      line-height: 28px;
      letter-spacing: -2px;
      margin-bottom: 19px;
    }
    &__left-filter {
      display: flex;
      margin-right: 39px;
      gap: 0 39px;
      @media (max-width: 560px) {
      flex-direction: column;
      margin-right: 0;
      }

      &__dropdown{
        @extend %select;
        text-transform: uppercase;
        width: 200px;
        height: 65px;
        color: #fff;
        @include font('Inter', '600', '22px');
        &::after {
           background-image: url('./../images/icons/arrow.svg');
        }
        //@media (max-width: 500px) {
        //  width: 180px;
        //  height: 65px;
        //}
        @media (max-width: 560px) {
        margin-bottom: 40px;
      }
        @media (max-width: 445px) {
        width: 100%;
        margin-bottom: 30px;
      }
        &--brend {
          background-color: #571463;
        }
        &--type {
          background-color: #008DAB;
        }
      //&:focus {
      //  outline: none;
      //  box-shadow: 0px 0px 0px 4px rgba(176,198,255, 0.6);
      //}
  
    }
      &__list { 
        display: none;
        position: absolute;
        left: 0;
        top: 65px;
        width: 200px;
        background-color: #F5F5F5;
        overflow: hidden;
        box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
        border-radius: 6px;
        z-index: 1;
          &--visible {
            display: block;
          }
          @media (max-width: 442px) {
            width: 100%;
          } 
          &__item {
            border: 1px solid gray;
            border-bottom: none;
            padding: 13px 20px;
            cursor: pointer;
            &:first-child {
            border-radius: 6px 6px 0 0;
            }
            &:last-child {
              border-radius: 0 0 6px 6px;
              border-bottom: 1px solid gray;
            }
            &:hover {
              background-color: lavender;
            }
          }
      }
    }
    &__right-filter {
      &__dropdown {
        @extend %select;
        text-transform: capitalize;
        width: 399px;
        height: 76px;
        color: #939393;
        @include font('Inter', '400', '22px');

        &::after {
           background-image: url('./../images/icons/arrow-gray.svg');
        }
        @media (max-width: 560px) {
        width: 100%;
        margin-top: 20px;
      }
        &--sort {
          background-color: #FFFFFF;
          box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.06);
        }
      }
      &__list {
        display: none;
        position: absolute;
        left: 0;
        top: 76px;
        width: 100%;
        background-color: #F5F5F5;
        overflow: hidden;
        box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
        border-radius: 6px;
        z-index: 1;
          &--visible {
            display: block;
          }
          @media (max-width: 442px) {
            width: 100%;
          }
          &__item {
            border: 1px solid gray;
            border-bottom: none;
            padding: 13px 20px;
            cursor: pointer;
            &:first-child {
            border-radius: 6px 6px 0 0;
          }
          &:last-child {
            border-radius: 0 0 6px 6px;
            border-bottom: 1px solid gray;
          }
          &:hover {
            background-color: lavender;
          }
        }
      }
    }
  }
}
.wrapper-select {
  position: relative;
}
.wrapper-filter-result {
  display: flex;
  flex-wrap: wrap;
  justify-items: left;
  gap: 0 26px;
   @media (max-width:500px) {
      gap: 0 13px;
    }
  &__item {
    @include font('Inter', '700', '18px');
    color: #A563AE;
    letter-spacing: -1px;
    background-color: #F8F8F8;
    border: 1px solid #EBEBEB;
    border-radius: 40px;
    padding: 9px 45px 8px 17px;
    position: relative;
    margin-bottom: 30px;

    @media (max-width:500px) {
      margin-bottom: 15px;
    }
    &__cross  {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(./../images//icons/circle-cross.svg);
      background-size: cover;
      width: 15px;
      height: 15px;
    }
  }

}
.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 101px 81px;
  margin-bottom: 101px;
  @media (max-width:900px) {
    gap: 50px 60px;
  }
 
  @media (max-width: 720px) {
    grid-template-columns: repeat(2, 1fr);
   }
   @media (max-width: 500px) {
    grid-template-columns: repeat(2, 174px);
   }
    @media (max-width: 500px) {
    gap: 0;
    margin-bottom: 101px;
  }
    &__product-card {
      max-width: 388px;
      padding: 29px 14px 14px;
      border: 3px solid #EDEDED;
      box-shadow: 2px 2px 21px 2px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
        @media (max-width: 672px) {
          width: 250px;
        }
        @media (max-width: 500px) {
          width: 174px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 25px;
        }
        &__img {
          display: block;
          height: 262px;
          margin: 0 auto 26px;
          transition-duration: 400ms;
          @media (max-width: 720px) {
            height: 151px;
          }
          @media (max-width: 400px) {
            height: 117px;
            margin: 0 auto 6px;
          }
          &:hover {
            transform: scale(1.1);
            outline: 3px solid #f3f3f3;
            padding: 5px;
          }
        }

        &__title {
          @include font('Inter', '700', '26px');
          color: #3A3E50;
          letter-spacing: -1px;
          line-height: 36px;
          margin-bottom: 27px;
          a {
            color: #3A3E50;
          }
          @media (max-width: 400px) {
            @include font('Inter', '700', '16px');
            line-height: 24px;
            margin: 0;
          }
        }

        &__count {
          @include font('Inter', '700', '22px');
          margin-bottom: 23px;
          display: flex;
          color: #3A3E50;
          line-height: 32px;
           @media (max-width: 400px) {
             @include font('Inter', '700', '14px');
           }
          
            &__items-control {
              @extend %counter;
              cursor: pointer;
            }
            &__items-current {
              @extend %counter;
            }
        }
        &__bottom {
          display: flex;
          justify-content: space-between;
          margin-bottom: 26px;
          @media (max-width: 400px) {
            flex-direction: column;
          }
          &__price {
          position: relative;
          @media (max-width: 400px) {
            margin-bottom: 20px;
          }
            &__label {
              @include font('Inter', '700', '34px');
              letter-spacing: -1px;
              color: #571463;
              line-height: 130.52%;
              @media (max-width: 400px) {
                @include font('Inter', '700', '22px');
                line-height: 70.52%;
              }
            }
          
            &__value {
              position: absolute;
              top: 0;
              right: -75px;
              @include font('Inter', '700', '20px');
              text-decoration: line-through;
              color: #D4D4D4;
              @media (max-width: 400px) {
                top: -2px;
                right: 0;
                 @include font('Inter', '700', '16px');
              }
            }
          }
          &__buttons {
            display: flex;
            gap: 7px;
            @media(max-width: 400px) {
              justify-content: space-between;
            }
            &__link {
              @extend %button;
              height: 50px;
              width: 50px;
              border-radius: 7px;
              text-decoration: none;
              transition: color 0.4s, background-color 0.4s;
              border: none;
              cursor: pointer;
              @media (max-width: 400px) {
                height: 40px;
                width: 40px;
              }
              &--heart {
                background-image: url(./../images/icons/heart.svg);
              }
               &--cart {
                background-image: url(./../images/icons/cart.svg);
               }
              &:hover {
                background-color: $background-button-green;
              }
            }
          }
        }
    }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 17px;
  margin-bottom: 75px;
  &__item {
    @include font('Inter', '700', '18px');
    color: #A4A0A0;
    line-height: 130.52%;
    width: 29px;
    height: 33px;
    cursor: pointer;
    //appearance: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    &:hover {
      background-color: #F5F4F4;
    }
    &--active {
      background-color: #F5F4F4;
     
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #571463;
      }
    }
    &--arrowR {
      &::after {
        content: '';
        background-image: url('./../images/icons/arrow-pagination.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 29px;
        height: 33px;
      }
    }
    &--arrowL {
      &::before {
        content: '';
        background-image: url('./../images/icons/arrow-pagination.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 29px;
        height: 33px;
        transform: rotate(180deg);
      }
    }
  }
}