.banner-offer {
  &__title {
    margin-bottom: 11px;
    @extend %h2;
    text-align: center;
  }
  &__subtitle {
    margin-bottom: 77px;
    @include font('Inter', '500', '25px');
    line-height: 30px;
    color: #686868;
    letter-spacing: 1px;
    text-align: center;
    a {
      color: #A563AE;
    }
  }

}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
  border: 1px solid #D4D4D4;
  &__left-side {
    display: flex;
    flex-direction: column;
    padding: 116px 32px 114px 33px;
    background-color: #571463;
    @media (max-width: 800px) {
      padding: 40px 20px;
    }
    &__title {
    margin-bottom: 15px;
    @include font('Bebas Neue', '400', '70px');
    line-height: 91px;
    color: #ffffff;
    @media (max-width: 800px) {
       @include font('Bebas Neue', '400', '50px');
       line-height: 41px;
    }
  }
    &__subtitle {
      margin-bottom: 10px;
      @include font('Inter', '500', '34px');
      letter-spacing: -2px;
      color: #ffffff;
         @media (max-width: 800px) {
       @include font('Inter', '400', '28px');
       letter-spacing: 0px;
    }
    }
    &__text {
      margin-bottom: 37px;
      @include font('Inter', '300', '28px');
      letter-spacing: -2px;
      color: #ffffff;
      @media (max-width: 800px) {
       @include font('Inter', '400', '22px');
       letter-spacing: 0px;
    }
    }
    &__button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 244px;
      height: 55px;
      padding: 0 32px 0 21px;
      background-color: #A470AB;
      border-radius: 30px;
      @include font('Inter', '600', '22px');
      line-height: 48px;
      color: #571463;
      cursor: pointer;
      @media (max-width: 800px) {
        width: 200px;
        height: 50px;
        padding: 0 20px 0 11px;
      }
      &::after {
        content: '';
        background-image: url('./../images/icons/arrow__btn.svg');
        display: block;
        width: 10px;
        height: 16px;
      }
    }
  }

	&__right-side {
    &__img {
      object-fit: fill;
      width: 100%;
      height: auto;
    }
  }
}

.offer {
  text-align: center;
  &__subtitle {
    @include font('Inter', '600', '32px');
    line-height: 32px;
    color: #3A3E50;
     @media (max-width: 800px) {
      @include font('Inter', '600', '24px');
    }
  }

	&__title {
    @extend %h2;
    margin: 0 0 43px;
    color: #9D48A9;
    text-align: center;
    @media (max-width: 800px) {
      @include font('Inter', '600', '32px');
    }
  }

	&__products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 105px;
    @media (max-width: 800px) {
      margin-bottom: 55px;
    }
    &__product {
      margin-right: 109px;
      @media (max-width: 800px) {
        margin-right: 50px;
      }
      &:last-child {
        margin-right: 0;
      }
      &__img {
        width: 100%;
        height: auto;
        object-fit: fill;
      }
    }
  }
}

.banner-welcome {
  
  &__left {
    background-color: #A563AE;
    border-radius: 15px;
    padding: 60px 12px 57px 26px;
    position: relative;
     @media (max-width: 600px) {
       padding: 30px 12px 27px 16px;
     }
    &__subtitle {
    @include font('Inter', '500', '24px');
    color: #FFFFFF;
    line-height: 36px;
       @media (max-width: 600px) {
        @include font('Inter', '600', '18px');
      }
    }

    &__title {
      width: 57%;
      @include font('Inter', '600', '30px');
      color: #FFFFFF;
      line-height: 40px;
      letter-spacing: -1px;
      @media (max-width: 600px) {
        @include font('Inter', '600', '24px');
      }
    }
    &__img {
      position: absolute;
      top: 0;
      right: 0;
      width: 45%;
      height: 100%;
      object-fit: cover;
      @media(max-width: 1170px) {
        object-fit: contain;
      }
    }
  }
}

.banner-brends {
  &__title {
    margin-bottom: 40px;
    color: #3A3E50;
    text-align: center;
    span {
      color: #9D48A9;
    }
  }

	&__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 79px;
    &__brend {
      border: 1px solid green;
      margin-right: 25px;
      @media (max-width:450px) {
        margin-right: 15px;
      }
      &:last-child {
        margin-right: 0;
      }
       &__img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      
    }
    }
  }
}

.best-sellers {
  background-color: #6E3579;
  text-align: center;
  padding: 55px 0 54px;
  margin-bottom: 106px;
  @media (max-width: 800px) {
    margin-bottom: 50px;
  }
	&__title {
    color: #FFFFFF;
    text-align: center;
    margin: 0;
  }

	&__subtitle {
    @include font('Inter', '500', '35px');
    color: #FFFFFF;
  }
}

.banner-categories {
  &__title {
    text-align: center;
    margin-bottom: 77px;
     @media(max-width: 800px) {
        margin-bottom: 40px;
        margin-top: 0;
      }
    span {
      color: #9D48A9;
    }
  }

	&__images {
    border-bottom: 3px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: 0 0 38px;
    
    &__link {
      @include font('Inter', '700', '25px');
      margin-bottom: 106px;
      color: #3A3E50;
      text-align: center;
      @media(max-width: 800px) {
        @include font('Inter', '700', '20px');
      }
      @media(max-width: 560px) {
        @include font('Inter', '700', '13px');
      }
      &--clean{
        &::before {
          background-image: url('./../images/icons/clean.svg');
        }
        @media(max-width: 1080px) {
          &::before {
            background-image: url('./../images/icons/cleanTablet.svg');
          }
        }
        @media(max-width: 500px) {
          &::before {
            background-image: url('./../images/icons/cleanMobile.svg');
          }
        }
      }
      &--drink{
        &::before {
          background-image: url('./../images/icons/drink.svg');
        }
        @media(max-width: 1080px) {
          &::before {
            background-image: url('./../images/icons/drinkTablet.svg');
          }
        }
        @media(max-width: 500px) {
          &::before {
            background-image: url('./../images/icons/drinkMobile.svg');
          }
        }
      }
      &--household{
        &::before {
          background-image: url('./../images/icons/household.svg');
        }
        @media(max-width: 1080px) {
          &::before {
            background-image: url('./../images/icons/householdTablet.svg');
          }
        }
         @media(max-width: 500px) {
          &::before {
            background-image: url('./../images/icons/householdMobile.svg');
          }
        }
      }
      &--health{
        &::before {
          background-image: url('./../images/icons/health.svg');
        }
        @media(max-width: 1080px) {
          &::before {
            background-image: url('./../images/icons/healthTablet.svg');
          }
        }
         @media(max-width: 500px) {
          &::before {
            background-image: url('./../images/icons/healthMobile.svg');
          }
        }
      }
      &::before {
        content: '';
        display: block;
        margin-bottom: 21px;
        width: 213px;
        height: 213px;
        border-radius: 50%;
        background-color: #008DAB;
        background-repeat: no-repeat;
        background-position: center;
        //background-size: contain;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        @media(max-width: 1080px) {
          width: 150px;
          height: 150px;
        }
        @media(max-width: 860px) {
          width: 80px;
          height: 80px;
        }
        //@media(max-width: 630px) {
        //  width: 60px;
        //  height: 60px;
        //}
      }
    }
  }
}

.footer {
  &__top {
     display: grid;
      grid-template-columns: 350px auto auto 200px;
      margin-bottom: 69px;
      @media (max-width: 1200px) {
        grid-template-columns: 300px auto auto 70px;
      }
      @media (max-width: 960px) {
        grid-template-columns: 240px auto auto 70px;
      }
      @media (max-width: 750px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 55px auto;
      }
      @media (max-width: 500px) {
        grid-template-columns: 1fr;
        grid-template-rows: 55px auto;
        row-gap: 50px;
      }
    &__column {
      &--1 {
        align-self: center;
        @media (max-width: 400px) {
          justify-self: center;
        }
      }
      &--2 {
        @media (max-width: 750px) {
          grid-column-start: 1;
        }
      }
      &--2, &--3 {
        justify-self: center;
        @media (max-width: 750px) {
          justify-self: left;
        }
      }
      &--4 {
        justify-self: right;
        align-self: self-end;
        @media (max-width: 750px) {
          grid-column-start: 4;
        }
        @media (max-width: 500px) {
          grid-column-start: 2;
        }
      }
      &__logo{
        width: 264px;
        height: 55px;
        gap: 150px;
        @media (max-width: 960px) {
          width: 200px;
          height: auto;
        }
        @media (max-width: 750px) {
          margin-bottom: 20px;
        }
      }
      &__title{
        @include font('Inter', '600', '24px');
        color: #3A3E50;
        line-height: 29px;
        margin-bottom: 29px;
        @media (max-width: 960px) {
          @include font('Inter', '600', '22px');
        }
        @media (max-width: 800px) {
          @include font('Inter', '600', '20px');
          margin-bottom: 20px;
        }
      }
      &__item{
         margin-bottom: 18px;
         @media (max-width: 800px) {
             margin-bottom: 10px;
           }
          &:last-child {
            margin-bottom: 0;
          }
        &__link{
          @include font('Inter', '400', '22px');
          color: #3A3E50;
          line-height: 27px;
           @media (max-width: 960px) {
             @include font('Inter', '400', '20px');
           }
           @media (max-width: 800px) {
             @include font('Inter', '400', '18px');
           }
        }
      }
      &__facebook{
        width: 40px;
        height: 40px;
        justify-self: right;
      }
    }
  }
	&__bottom {
    text-align: center;
    margin-bottom: 93px;
    span {
      @include font('Inter', '400', '17px');
      color: #686868;
    }
  }
}
