.mobile-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: fransform 0.3s;
  overflow-y: auto;
  background-color: $background-body;
  padding-top: 51px;
  @media (max-width: 700px) {
    padding-top: 40px;
  }
   @media (max-width: 515px) {
    padding-top: 32px;
  }
  @media (max-width: 450px) {
    padding-top: 15px;
  }

  &:target {
    transform: translateX(0);
    transition: fransform 0.3s;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
     &--cross {
      @extend %mobile-icons;
      display: block;
      background-image: url(./../images/icons/Icon-Close.svg);
      position: relative;
      z-index: 2;
    } 
    &__logo {
      max-width: 200px;
    }
  }
 
  &__list {
    margin-bottom: 30px;
    padding-top: 35px;
    &>li:hover {
        .mobile-menu__sub-list {
          display: block;
        }
    }
    &__item {
      &__link {
        @include font('Montserrat', '400', '20px');
        position: relative;
        padding: 20px 0;
        display: inline-block;
      }
    }
  }
  &__sub-list {
    transition: all 0.3s ease-in 0s;
    display: none;
    margin-left: 30px;

      &>li:hover {
        .mobile-menu__sub-sub-list {
          display: block;
        }
      }
      &__sub-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 15px 0;

        &__sub-link {
          @include font('Montserrat', '400', '20px');
          position: relative;
          padding: 20px 0;
          display: inline-block;
        }
      }
    }
  &__sub-sub-list {
      display: none;
      margin-left: 30px;
      
      &__sub-sub-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-left: 15px;
        background-color: rgba(0, 0, 0, 0.3);
        &__sub-sub-link {
          @include font('Montserrat', '400', '20px');
          position: relative;
          padding: 20px 0;
          display: inline-block;
        }
      }
    }
}