%h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 54px;
  color: $color-title;
  text-align: left;
   @media (max-width: 500px) {
     font-size: 45px;
  }
}

%h3 {
  @include font('Inter', '400', '50px');
  color: #3A3E50;
}

%sub-title {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 41px;
  color: $color-text;
  letter-spacing: -1px;
  max-width: 844px;
}

%circle-button {
  border-radius: 50%;
  background-color: $background-button-green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-img-button
}

%button {
  background-color: $background-button-purple;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  color: $color-img-button;
  border: none;
}

%circle-icons {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $background-button-green;
  color: $color-img-button;
  background-position: center;
  background-repeat: no-repeat;
}

%mobile-icons {
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%counter {
   border: 1px solid #D5D5D5;
   padding: 16px 8px;
   width: 48px;
   height: 52px;
   display: flex;
   align-items: center;
   justify-content: center;
}

%select {
   position: relative;
    display: block;
    padding: 18px;
    margin-bottom: 68px;
    border: 1px solid #D4D4D4;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 18px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 16px;
        height: 10px;
          //border-width: 10.4px 6px 0 6px;
          //border-color:#fff transparent transparent transparent;
          //border-style: solid;
        pointer-events: none;
        }
}