%h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 54px;
  color: $color-title;
  text-align: left;
}

%sub-title {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: $color-text;
}

%circle-button {
  border-radius: 50%;
  background-color: $background-button-green;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-img-button
}

%button {
  background-color: $background-button-purple;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  color: $color-img-button;
}

%circle-icons {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $background-button-green;
  color: $color-img-button;
  background-position: center;
  background-repeat: no-repeat;
}

%mobile-icons {
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}