* {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  @include font('Inter', '500', '23px');
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: $background-body;
}
