$color-menu: #513756;
$color-text: #3A3E50;
$color-title: #571463;

$background-button-purple: #A563AE;
$background-button-purple-hover: #9D48A9;
$background-button-green: #008DAB;

$background-body: #F5F5F5;
$color-img-button: #FEFEFE