* {
  box-sizing: border-box;
}

body,
h1,
p,
ul,
li {
  margin: 0;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 23px;
  scroll-behavior: smooth;
}

body {
  background: #F5F5F5;
}

.wrapper__title, h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 54px;
  color: #571463;
  text-align: left;
}
@media (max-width: 500px) {
  .wrapper__title, h2 {
    font-size: 45px;
  }
}

.wrapper__sub-title {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 41px;
  color: #3A3E50;
  letter-spacing: -1px;
  max-width: 844px;
}

.product-cards__product-card__bottom__buttons__link {
  background-color: #A563AE;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  color: #FEFEFE;
}

.header__top__right-menu__cart-wrapper__cart, .header__top__right-menu__favorite, .header__top__right-menu__signIn, .header__top__right-menu__tablets-search {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #008DAB;
  color: #FEFEFE;
  background-position: center;
  background-repeat: no-repeat;
}

.mobile-menu--cross, .header__top__opener {
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-cards__product-card__count__items-current, .product-cards__product-card__count__items-control {
  border: 1px solid #D5D5D5;
  padding: 16px 8px;
  width: 48px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters__selects__right-filter__dropdown, .filters__selects__left-filter__dropdown {
  position: relative;
  display: block;
  padding: 18px;
  margin-bottom: 68px;
  border: 1px solid #D4D4D4;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
}
.filters__selects__right-filter__dropdown::after, .filters__selects__left-filter__dropdown::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 10px;
  pointer-events: none;
}

.container {
  max-width: 1320px;
  padding: 0 60px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 0 20px;
  }
}

.visible {
  display: block !important;
  position: absolute !important;
  right: -50%;
  transform: translate(50%, 50%);
  background-color: #F5F5F5;
}

.search-wrapper {
  position: relative;
}

.header {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 62px;
  background-color: #F5F5F5;
}
@media (max-width: 1280px) {
  .header {
    padding: 32px 0 10px;
  }
}
@media (max-width: 450px) {
  .header {
    padding: 15px 0 10px;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  margin-bottom: 50px;
}
@media (max-width: 1280px) {
  .header__top {
    margin-bottom: 0;
  }
}
.header__top__opener {
  display: none;
  background-image: url(./../images/icons/Icon-Burger-menu.svg);
}
@media (max-width: 1280px) {
  .header__top__opener {
    display: block;
  }
}
.header__top__logo {
  max-height: 68px;
  max-width: 326px;
}
@media (max-width: 700px) {
  .header__top__logo {
    width: 200px;
  }
}
@media (max-width: 515px) {
  .header__top__logo {
    display: none;
  }
}
.header__top__right-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 700px) {
  .header__top__right-menu {
    gap: 8px;
  }
}
.header__top__right-menu__tablets-search {
  display: none;
  position: relative;
  background-image: url(./../images/icons/search-white.svg);
}
@media (max-width: 980px) {
  .header__top__right-menu__tablets-search {
    display: block;
  }
}
.header__top__right-menu__search {
  position: relative;
  margin-right: 18px;
}
.header__top__right-menu__search__input {
  font-family: Inte, sans-serif;
  font-weight: 400;
  font-size: 15px;
  height: 46px;
  width: 268px;
  padding: 14px 15px 13px;
  outline: none;
  color: #686868;
  background: rgba(217, 217, 217, 0.24);
  border: 1px solid #D5D5D5;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
}
.header__top__right-menu__search__button {
  position: absolute;
  top: 15px;
  right: 14px;
  height: 16px;
  width: 16px;
  padding-left: 10px;
  background-image: url(../images/icons/search.svg);
  background-size: cover;
  border: none;
}
@media (max-width: 980px) {
  .header__top__right-menu__search {
    display: none;
  }
}
.header__top__right-menu__signIn {
  background-image: url(../images/icons/person.svg);
}
.header__top__right-menu__favorite {
  background-image: url(./../images/icons/heart.svg);
}
.header__top__right-menu__cart-wrapper {
  position: relative;
}
.header__top__right-menu__cart-wrapper__number {
  display: none;
}
.header__top__right-menu__cart-wrapper__number--visible {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -7px;
  right: -11px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #571463;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}
.header__top__right-menu__cart-wrapper__cart {
  position: relative;
  background-image: url(../images/icons/cart.svg);
}
.header__nav::after {
  content: "";
  display: block;
  height: 1px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02);
  transform: matrix(1, 0, 0, -1, 0, 0);
  background-color: #E5E8EA;
  margin-top: 39px;
}
@media (max-width: 700px) {
  .header__nav::after {
    margin-top: 20px;
  }
}
@media (max-width: 1280px) {
  .header__nav {
    display: none;
  }
}
.header__nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}
.header__nav__list > li:hover .header__nav__sub-list {
  opacity: 1;
  visibility: visible;
}
.header__nav__list__item__link {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  padding: 20px 0;
  transition: font-weight 0.3s;
}
.header__nav__list__item__link:hover {
  text-shadow: 1px 1px;
}
.header__nav__list__item__link::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #571463;
  height: 3px;
  bottom: 9px;
  left: 5%;
  right: 5%;
  border-radius: 90px;
  transform: scaleX(0);
  transform-origin: left center;
  transition: all 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.header__nav__list__item__link:hover::after {
  transform: scaleX(1);
}
.header__nav__sub-list {
  position: absolute;
  top: 1.5rem;
  padding: 15px;
  transition: all 0.3s ease-in 0s;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #E5E8EA;
  border-top: none;
  background-color: #F5F5F5;
  z-index: 50;
  width: 10rem;
}
.header__nav__sub-list > li:hover .header__nav__sub-sub-list {
  opacity: 1;
  visibility: visible;
}
.header__nav__sub-list__sub-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0;
}
.header__nav__sub-list__sub-item__sub-link {
  padding: 20px 0;
}
.header__nav__sub-sub-list {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 15px;
  transition: all 0.3s ease-in 0s;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #E5E8EA;
  border-left: none;
  background-color: #F5F5F5;
  z-index: 50;
  width: 10rem;
}
.header__nav__sub-sub-list__sub-sub-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0;
}
.header__nav__sub-sub-list__sub-sub-item__sub-sub-link {
  padding: 20px 0;
}

.is-active {
  text-shadow: 1px 1px;
}
.is-active::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #571463;
  height: 3px;
  bottom: 9px;
  left: 5%;
  right: 5%;
  border-radius: 90px;
  transform: scaleX(1);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: fransform 0.3s;
  overflow-y: auto;
  background-color: #F5F5F5;
  padding-top: 51px;
}
@media (max-width: 700px) {
  .mobile-menu {
    padding-top: 40px;
  }
}
@media (max-width: 515px) {
  .mobile-menu {
    padding-top: 32px;
  }
}
@media (max-width: 450px) {
  .mobile-menu {
    padding-top: 15px;
  }
}
.mobile-menu:target {
  transform: translateX(0);
  transition: fransform 0.3s;
}
.mobile-menu--cross {
  display: block;
  background-image: url(./../images/icons/Icon-Close.svg);
  position: relative;
  z-index: 2;
}
.mobile-menu__list {
  margin-bottom: 30px;
  padding-top: 35px;
}
.mobile-menu__list > li:hover .mobile-menu__sub-list {
  display: block;
}
.mobile-menu__list__item__link {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  padding: 20px 0;
  display: inline-block;
}
.mobile-menu__sub-list {
  transition: all 0.3s ease-in 0s;
  display: none;
  margin-left: 30px;
}
.mobile-menu__sub-list > li:hover .mobile-menu__sub-sub-list {
  display: block;
}
.mobile-menu__sub-list__sub-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0;
}
.mobile-menu__sub-list__sub-item__sub-link {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  padding: 20px 0;
  display: inline-block;
}
.mobile-menu__sub-sub-list {
  display: none;
  margin-left: 30px;
}
.mobile-menu__sub-sub-list__sub-sub-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}
.mobile-menu__sub-sub-list__sub-sub-item__sub-sub-link {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  padding: 20px 0;
  display: inline-block;
}

.wrapper {
  margin-bottom: 79px;
}
.columns__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 990px) {
  .columns__content {
    display: block;
  }
}

.filters__selects {
  position: relative;
}
.filters__selects__title {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #3A3E50;
  line-height: 28px;
  letter-spacing: -2px;
  margin-bottom: 19px;
}
.filters__selects__left-filter {
  display: flex;
  margin-right: 39px;
  gap: 0 39px;
}
@media (max-width: 560px) {
  .filters__selects__left-filter {
    flex-direction: column;
    margin-right: 0;
  }
}
.filters__selects__left-filter__dropdown {
  text-transform: uppercase;
  width: 200px;
  height: 65px;
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.filters__selects__left-filter__dropdown::after {
  background-image: url("./../images/icons/arrow.svg");
}
@media (max-width: 560px) {
  .filters__selects__left-filter__dropdown {
    margin-bottom: 40px;
  }
}
@media (max-width: 445px) {
  .filters__selects__left-filter__dropdown {
    width: 100%;
    margin-bottom: 30px;
  }
}
.filters__selects__left-filter__dropdown--brend {
  background-color: #571463;
}
.filters__selects__left-filter__dropdown--type {
  background-color: #008DAB;
}
.filters__selects__left-filter__list {
  display: none;
  position: absolute;
  left: 0;
  top: 65px;
  width: 200px;
  background-color: #F5F5F5;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
  border-radius: 6px;
  z-index: 1;
}
.filters__selects__left-filter__list--visible {
  display: block;
}
@media (max-width: 442px) {
  .filters__selects__left-filter__list {
    width: 100%;
  }
}
.filters__selects__left-filter__list__item {
  border: 1px solid gray;
  border-bottom: none;
  padding: 13px 20px;
  cursor: pointer;
}
.filters__selects__left-filter__list__item:first-child {
  border-radius: 6px 6px 0 0;
}
.filters__selects__left-filter__list__item:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: 1px solid gray;
}
.filters__selects__left-filter__list__item:hover {
  background-color: lavender;
}
.filters__selects__right-filter__dropdown {
  text-transform: capitalize;
  width: 399px;
  height: 76px;
  color: #939393;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 22px;
}
.filters__selects__right-filter__dropdown::after {
  background-image: url("./../images/icons/arrow-gray.svg");
}
@media (max-width: 560px) {
  .filters__selects__right-filter__dropdown {
    width: 100%;
    margin-top: 20px;
  }
}
.filters__selects__right-filter__dropdown--sort {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.06);
}
.filters__selects__right-filter__list {
  display: none;
  position: absolute;
  left: 0;
  top: 65px;
  width: 200px;
  background-color: #F5F5F5;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
  border-radius: 6px;
  z-index: 1;
}
.filters__selects__right-filter__list--visible {
  display: block;
}
@media (max-width: 442px) {
  .filters__selects__right-filter__list {
    width: 100%;
  }
}
.filters__selects__right-filter__list__item {
  border: 1px solid gray;
  border-bottom: none;
  padding: 13px 20px;
  cursor: pointer;
}
.filters__selects__right-filter__list__item:first-child {
  border-radius: 6px 6px 0 0;
}
.filters__selects__right-filter__list__item:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: 1px solid gray;
}
.filters__selects__right-filter__list__item:hover {
  background-color: lavender;
}

.wrapper-select {
  position: relative;
}

.wrapper-filter-result {
  display: flex;
  flex-wrap: wrap;
  justify-items: left;
  gap: 0 26px;
}
@media (max-width: 500px) {
  .wrapper-filter-result {
    gap: 0 13px;
  }
}
.wrapper-filter-result__item {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #A563AE;
  letter-spacing: -1px;
  background-color: #F8F8F8;
  border: 1px solid #EBEBEB;
  border-radius: 40px;
  padding: 9px 45px 8px 17px;
  position: relative;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .wrapper-filter-result__item {
    margin-bottom: 15px;
  }
}
.wrapper-filter-result__item__cross {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(./../images//icons/circle-cross.svg);
  background-size: cover;
  width: 15px;
  height: 15px;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 101px 81px;
}
@media (max-width: 900px) {
  .product-cards {
    gap: 50px 60px;
  }
}
.product-cards__product-card {
  max-width: 388px;
  padding: 29px 14px 14px;
  border: 3px solid #EDEDED;
  box-shadow: 2px 2px 21px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: #F5F5F5;
}
.product-cards__product-card__img {
  display: block;
  height: 262px;
  margin: 0 auto 26px;
  transition-duration: 400ms;
}
.product-cards__product-card__img:hover {
  transform: scale(1.1);
  outline: 3px solid #f3f3f3;
  padding: 5px;
}
.product-cards__product-card__title {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #3A3E50;
  letter-spacing: -1px;
  line-height: 36px;
  margin-bottom: 27px;
}
.product-cards__product-card__count {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 23px;
  display: flex;
  color: #3A3E50;
  line-height: 32px;
}
.product-cards__product-card__count__items-control {
  cursor: pointer;
}
.product-cards__product-card__bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.product-cards__product-card__bottom__price {
  position: relative;
}
.product-cards__product-card__bottom__price__label {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: -1px;
  color: #571463;
  line-height: 130.52%;
}
.product-cards__product-card__bottom__price__value {
  position: absolute;
  top: 0;
  right: -50px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: line-through;
  color: #D4D4D4;
}
.product-cards__product-card__bottom__buttons {
  display: flex;
  gap: 7px;
}
.product-cards__product-card__bottom__buttons__link {
  height: 50px;
  width: 50px;
  border-radius: 7px;
  text-decoration: none;
  transition: color 0.4s, background-color 0.4s;
  border: none;
  cursor: pointer;
}
.product-cards__product-card__bottom__buttons__link--heart {
  background-image: url(./../images/icons/heart.svg);
}
.product-cards__product-card__bottom__buttons__link--cart {
  background-image: url(./../images/icons/cart.svg);
}
.product-cards__product-card__bottom__buttons__link:hover {
  background-color: #008DAB;
}

/*# sourceMappingURL=main.css.map */
