* {
  box-sizing: border-box;
}

body,
h1,
p,
ul,
li {
  margin: 0;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 23px;
  scroll-behavior: smooth;
}

body {
  background: #FFFFFF;
}

.wrapper__title, .offer__title, h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 54px;
  color: #571463;
  text-align: left;
}
@media (max-width: 500px) {
  .wrapper__title, .offer__title, h2 {
    font-size: 45px;
  }
}

.title {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #3A3E50;
}

.wrapper__sub-title {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 41px;
  color: #3A3E50;
  letter-spacing: -1px;
  max-width: 844px;
}

.product__info__buttons__heart, .product__info__buttons__add, .product-cards__product-card__bottom__buttons__link {
  background-color: #A563AE;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  color: #FEFEFE;
  border: none;
}

.header__top__right-menu__cart-wrapper__cart, .header__top__right-menu__favorite, .header__top__right-menu__signIn, .header__top__right-menu__tablets-search {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #008DAB;
  color: #FEFEFE;
  background-position: center;
  background-repeat: no-repeat;
}

.mobile-menu__top--cross, .header__top__opener {
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-cards__product-card__count__items-current, .product-cards__product-card__count__items-control {
  border: 1px solid #D5D5D5;
  padding: 16px 8px;
  width: 48px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 400px) {
  .product-cards__product-card__count__items-current, .product-cards__product-card__count__items-control {
    width: 30px;
    height: 34px;
  }
}

.filters__selects__right-filter__dropdown, .filters__selects__left-filter__dropdown {
  position: relative;
  display: block;
  padding: 18px;
  margin-bottom: 68px;
  border: 1px solid #D4D4D4;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
}
.filters__selects__right-filter__dropdown::after, .filters__selects__left-filter__dropdown::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 16px;
  height: 10px;
  pointer-events: none;
}

.container {
  max-width: 1320px;
  padding: 0 60px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .container {
    padding: 0 30px;
  }
}
@media (max-width: 450px) {
  .container {
    padding: 0 12px;
  }
}

.visible {
  position: absolute !important;
  visibility: visible !important;
  transform: translate(0, 50%);
  transition: transform 0.5s ease-in 0s;
}

.header-visible {
  padding-bottom: 75px !important;
  transition: padding-bottom 0.5s ease-in 0s;
}

.search-wrapper {
  position: relative;
}

.header {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: sticky;
  top: -154px;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 62px;
  background-color: #FFFFFF;
  transition: padding-bottom 0.5s ease-in 0s;
}
@media (max-width: 450px) {
  .header {
    padding: 15px 0 20px;
  }
}
@media (max-width: 1280px) {
  .header {
    top: 0;
    padding: 32px 0 20px;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  margin-bottom: 50px;
}
@media (max-width: 1280px) {
  .header__top {
    margin-bottom: 0;
  }
}
.header__top__opener {
  display: none;
  background-image: url(./../images/icons/Icon-Burger-menu.svg);
}
@media (max-width: 1280px) {
  .header__top__opener {
    display: block;
  }
}
.header__top__logo {
  max-height: 68px;
  max-width: 326px;
}
@media (max-width: 700px) {
  .header__top__logo {
    width: 200px;
  }
}
@media (max-width: 515px) {
  .header__top__logo {
    display: none;
  }
}
.header__top__right-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 700px) {
  .header__top__right-menu {
    gap: 8px;
  }
}
.header__top__right-menu__tablets-search {
  display: none;
  position: relative;
  background-image: url(./../images/icons/search-white.svg);
}
@media (max-width: 980px) {
  .header__top__right-menu__tablets-search {
    display: block;
  }
}
.header__top__right-menu__search {
  position: relative;
  margin-right: 18px;
}
.header__top__right-menu__search__input {
  font-family: Inte, sans-serif;
  font-weight: 400;
  font-size: 15px;
  height: 46px;
  width: 268px;
  padding: 14px 15px 13px;
  outline: none;
  color: #686868;
  background: rgba(217, 217, 217, 0.24);
  border: 1px solid #D5D5D5;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
}
@media (max-width: 400px) {
  .header__top__right-menu__search__input {
    width: 204px;
  }
}
.header__top__right-menu__search__button {
  position: absolute;
  top: 15px;
  right: 14px;
  height: 16px;
  width: 16px;
  padding-left: 10px;
  background-image: url(../images/icons/search.svg);
  background-size: cover;
  border: none;
}
@media (max-width: 980px) {
  .header__top__right-menu__search {
    visibility: hidden;
    position: absolute;
    right: -50%;
    background-color: #F5F5F5;
  }
}
.header__top__right-menu__signIn {
  background-image: url(../images/icons/person.svg);
}
.header__top__right-menu__favorite {
  background-image: url(./../images/icons/heart.svg);
}
.header__top__right-menu__cart-wrapper {
  position: relative;
}
.header__top__right-menu__cart-wrapper__number {
  display: none;
}
.header__top__right-menu__cart-wrapper__number--visible {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -7px;
  right: -11px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #571463;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}
.header__top__right-menu__cart-wrapper__cart {
  position: relative;
  background-image: url(../images/icons/cart.svg);
}
.header__nav::after {
  content: "";
  display: block;
  height: 1px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.02);
  transform: matrix(1, 0, 0, -1, 0, 0);
  background-color: #E5E8EA;
  margin-top: 39px;
}
@media (max-width: 700px) {
  .header__nav::after {
    margin-top: 20px;
  }
}
@media (max-width: 1280px) {
  .header__nav {
    display: none;
  }
}
.header__nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}
.header__nav__list > li:hover .header__nav__sub-list {
  opacity: 1;
  visibility: visible;
}
.header__nav__list__item__link {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  padding: 20px 0;
  transition: font-weight 0.3s;
}
.header__nav__list__item__link::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #571463;
  height: 3px;
  bottom: 9px;
  left: 5%;
  right: 5%;
  border-radius: 90px;
  transform: scaleX(0);
  transform-origin: left center;
  transition: all 150ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.header__nav__list__item__link:hover::after {
  transform: scaleX(1);
}
.header__nav__sub-list {
  position: absolute;
  top: 1.5rem;
  padding: 15px;
  transition: all 0.3s ease-in 0s;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #E5E8EA;
  border-top: none;
  background-color: #FFFFFF;
  z-index: 50;
  width: 10rem;
}
.header__nav__sub-list > li:hover .header__nav__sub-sub-list {
  opacity: 1;
  visibility: visible;
}
.header__nav__sub-list__sub-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0;
}
.header__nav__sub-list__sub-item__sub-link {
  padding: 20px 0;
}
.header__nav__sub-sub-list {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 15px;
  transition: all 0.3s ease-in 0s;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #E5E8EA;
  border-left: none;
  background-color: #FFFFFF;
  z-index: 50;
  width: 10rem;
}
.header__nav__sub-sub-list__sub-sub-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0;
}
.header__nav__sub-sub-list__sub-sub-item__sub-sub-link {
  padding: 20px 0;
}

.is-active {
  text-shadow: 1px 1px;
}
.is-active::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #571463;
  height: 3px;
  bottom: 9px;
  left: 5%;
  right: 5%;
  border-radius: 90px;
  transform: scaleX(1);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
  transition: fransform 0.3s;
  overflow-y: auto;
  background-color: #FFFFFF;
  padding-top: 51px;
}
@media (max-width: 700px) {
  .mobile-menu {
    padding-top: 40px;
  }
}
@media (max-width: 515px) {
  .mobile-menu {
    padding-top: 32px;
  }
}
@media (max-width: 450px) {
  .mobile-menu {
    padding-top: 15px;
  }
}
.mobile-menu:target {
  transform: translateX(0);
  transition: fransform 0.3s;
}
.mobile-menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu__top--cross {
  display: block;
  background-image: url(./../images/icons/Icon-Close.svg);
  position: relative;
  z-index: 2;
}
.mobile-menu__top__logo {
  max-width: 200px;
}
.mobile-menu__list {
  margin-bottom: 30px;
  padding-top: 35px;
}
.mobile-menu__list > li:hover .mobile-menu__sub-list {
  display: block;
}
.mobile-menu__list__item__link {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  padding: 20px 0;
  display: inline-block;
}
.mobile-menu__sub-list {
  transition: all 0.3s ease-in 0s;
  display: none;
  margin-left: 30px;
}
.mobile-menu__sub-list > li:hover .mobile-menu__sub-sub-list {
  display: block;
}
.mobile-menu__sub-list__sub-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 0;
}
.mobile-menu__sub-list__sub-item__sub-link {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  padding: 20px 0;
  display: inline-block;
}
.mobile-menu__sub-sub-list {
  display: none;
  margin-left: 30px;
}
.mobile-menu__sub-sub-list__sub-sub-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.3);
}
.mobile-menu__sub-sub-list__sub-sub-item__sub-sub-link {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  padding: 20px 0;
  display: inline-block;
}

.banner-offer__titile {
  margin-bottom: 11px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #3A3E50;
  letter-spacing: 2px;
  text-align: center;
}
.banner-offer__subtitle {
  margin-bottom: 77px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #686868;
  letter-spacing: 1px;
  text-align: center;
}
.banner-offer__subtitle a {
  color: #A563AE;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
  border: 1px solid #D4D4D4;
}
.banner__left-side {
  display: flex;
  flex-direction: column;
  padding: 116px 32px 114px 33px;
  background-color: #571463;
}
@media (max-width: 800px) {
  .banner__left-side {
    padding: 40px 20px;
  }
}
.banner__left-side__title {
  margin-bottom: 15px;
  font-family: Bebas Neue, sans-serif;
  font-weight: 400;
  font-size: 70px;
  line-height: 91px;
  color: #ffffff;
}
@media (max-width: 800px) {
  .banner__left-side__title {
    font-family: Bebas Neue, sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 41px;
  }
}
.banner__left-side__subtitle {
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 34px;
  letter-spacing: -2px;
  color: #ffffff;
}
@media (max-width: 800px) {
  .banner__left-side__subtitle {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 0px;
  }
}
.banner__left-side__text {
  margin-bottom: 37px;
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: -2px;
  color: #ffffff;
}
@media (max-width: 800px) {
  .banner__left-side__text {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0px;
  }
}
.banner__left-side__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 244px;
  height: 55px;
  padding: 0 32px 0 21px;
  background-color: #A470AB;
  border-radius: 30px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 48px;
  color: #571463;
  cursor: pointer;
}
@media (max-width: 800px) {
  .banner__left-side__button {
    width: 200px;
    height: 50px;
    padding: 0 20px 0 11px;
  }
}
.banner__left-side__button::after {
  content: "";
  background-image: url("./../images/icons/arrow__btn.svg");
  display: block;
  width: 10px;
  height: 16px;
}
.banner__right-side__img {
  object-fit: fill;
  width: 100%;
  height: auto;
}

.offer {
  text-align: center;
}
.offer__subtitle {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  color: #3A3E50;
}
@media (max-width: 800px) {
  .offer__subtitle {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
  }
}
.offer__title {
  margin: 0 0 43px;
  color: #9D48A9;
  text-align: center;
}
@media (max-width: 800px) {
  .offer__title {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 32px;
  }
}
.offer__products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 105px;
}
@media (max-width: 800px) {
  .offer__products {
    margin-bottom: 55px;
  }
}
.offer__products__product {
  margin-right: 109px;
}
@media (max-width: 800px) {
  .offer__products__product {
    margin-right: 50px;
  }
}
.offer__products__product:last-child {
  margin-right: 0;
}
.offer__products__product__img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.banner-welcome__left {
  background-color: #A563AE;
  border-radius: 15px;
  padding: 60px 12px 57px 26px;
  position: relative;
}
@media (max-width: 600px) {
  .banner-welcome__left {
    padding: 30px 12px 27px 16px;
  }
}
.banner-welcome__left__subtitle {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 36px;
}
@media (max-width: 600px) {
  .banner-welcome__left__subtitle {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 18px;
  }
}
.banner-welcome__left__title {
  width: 57%;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 40px;
  letter-spacing: -1px;
}
@media (max-width: 600px) {
  .banner-welcome__left__title {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
  }
}
.banner-welcome__left__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1170px) {
  .banner-welcome__left__img {
    object-fit: contain;
  }
}

.wrapper {
  margin-bottom: 79px;
}
.columns__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 990px) {
  .columns__content {
    display: block;
  }
}

.filters__selects {
  position: relative;
}
.filters__selects__title {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #3A3E50;
  line-height: 28px;
  letter-spacing: -2px;
  margin-bottom: 19px;
}
.filters__selects__left-filter {
  display: flex;
  margin-right: 39px;
  gap: 0 39px;
}
@media (max-width: 560px) {
  .filters__selects__left-filter {
    flex-direction: column;
    margin-right: 0;
  }
}
.filters__selects__left-filter__dropdown {
  text-transform: uppercase;
  width: 200px;
  height: 65px;
  color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.filters__selects__left-filter__dropdown::after {
  background-image: url("./../images/icons/arrow.svg");
}
@media (max-width: 560px) {
  .filters__selects__left-filter__dropdown {
    margin-bottom: 40px;
  }
}
@media (max-width: 445px) {
  .filters__selects__left-filter__dropdown {
    width: 100%;
    margin-bottom: 30px;
  }
}
.filters__selects__left-filter__dropdown--brend {
  background-color: #571463;
}
.filters__selects__left-filter__dropdown--type {
  background-color: #008DAB;
}
.filters__selects__left-filter__list {
  display: none;
  position: absolute;
  left: 0;
  top: 65px;
  width: 200px;
  background-color: #F5F5F5;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
  border-radius: 6px;
  z-index: 1;
}
.filters__selects__left-filter__list--visible {
  display: block;
}
@media (max-width: 442px) {
  .filters__selects__left-filter__list {
    width: 100%;
  }
}
.filters__selects__left-filter__list__item {
  border: 1px solid gray;
  border-bottom: none;
  padding: 13px 20px;
  cursor: pointer;
}
.filters__selects__left-filter__list__item:first-child {
  border-radius: 6px 6px 0 0;
}
.filters__selects__left-filter__list__item:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: 1px solid gray;
}
.filters__selects__left-filter__list__item:hover {
  background-color: lavender;
}
.filters__selects__right-filter__dropdown {
  text-transform: capitalize;
  width: 399px;
  height: 76px;
  color: #939393;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 22px;
}
.filters__selects__right-filter__dropdown::after {
  background-image: url("./../images/icons/arrow-gray.svg");
}
@media (max-width: 560px) {
  .filters__selects__right-filter__dropdown {
    width: 100%;
    margin-top: 20px;
  }
}
.filters__selects__right-filter__dropdown--sort {
  background-color: #FFFFFF;
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.06);
}
.filters__selects__right-filter__list {
  display: none;
  position: absolute;
  left: 0;
  top: 76px;
  width: 100%;
  background-color: #F5F5F5;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
  border-radius: 6px;
  z-index: 1;
}
.filters__selects__right-filter__list--visible {
  display: block;
}
@media (max-width: 442px) {
  .filters__selects__right-filter__list {
    width: 100%;
  }
}
.filters__selects__right-filter__list__item {
  border: 1px solid gray;
  border-bottom: none;
  padding: 13px 20px;
  cursor: pointer;
}
.filters__selects__right-filter__list__item:first-child {
  border-radius: 6px 6px 0 0;
}
.filters__selects__right-filter__list__item:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: 1px solid gray;
}
.filters__selects__right-filter__list__item:hover {
  background-color: lavender;
}

.wrapper-select {
  position: relative;
}

.wrapper-filter-result {
  display: flex;
  flex-wrap: wrap;
  justify-items: left;
  gap: 0 26px;
}
@media (max-width: 500px) {
  .wrapper-filter-result {
    gap: 0 13px;
  }
}
.wrapper-filter-result__item {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #A563AE;
  letter-spacing: -1px;
  background-color: #F8F8F8;
  border: 1px solid #EBEBEB;
  border-radius: 40px;
  padding: 9px 45px 8px 17px;
  position: relative;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .wrapper-filter-result__item {
    margin-bottom: 15px;
  }
}
.wrapper-filter-result__item__cross {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(./../images//icons/circle-cross.svg);
  background-size: cover;
  width: 15px;
  height: 15px;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 101px 81px;
  margin-bottom: 101px;
}
@media (max-width: 900px) {
  .product-cards {
    gap: 50px 60px;
  }
}
@media (max-width: 400px) {
  .product-cards {
    gap: 0;
  }
}
@media (max-width: 720px) {
  .product-cards {
    grid-template-columns: repeat(2, 174px);
  }
}
.product-cards__product-card {
  max-width: 388px;
  padding: 29px 14px 14px;
  border: 3px solid #EDEDED;
  box-shadow: 2px 2px 21px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
@media (max-width: 672px) {
  .product-cards__product-card {
    width: 250px;
  }
}
@media (max-width: 400px) {
  .product-cards__product-card {
    width: 174px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
  }
}
.product-cards__product-card__img {
  display: block;
  height: 262px;
  margin: 0 auto 26px;
  transition-duration: 400ms;
}
@media (max-width: 720px) {
  .product-cards__product-card__img {
    height: 151px;
  }
}
@media (max-width: 400px) {
  .product-cards__product-card__img {
    height: 117px;
    margin: 0 auto 6px;
  }
}
.product-cards__product-card__img:hover {
  transform: scale(1.1);
  outline: 3px solid #f3f3f3;
  padding: 5px;
}
.product-cards__product-card__title {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #3A3E50;
  letter-spacing: -1px;
  line-height: 36px;
  margin-bottom: 27px;
}
@media (max-width: 400px) {
  .product-cards__product-card__title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
  }
}
.product-cards__product-card__count {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 23px;
  display: flex;
  color: #3A3E50;
  line-height: 32px;
}
@media (max-width: 400px) {
  .product-cards__product-card__count {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 14px;
  }
}
.product-cards__product-card__count__items-control {
  cursor: pointer;
}
.product-cards__product-card__bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
@media (max-width: 400px) {
  .product-cards__product-card__bottom {
    flex-direction: column;
  }
}
.product-cards__product-card__bottom__price {
  position: relative;
}
@media (max-width: 400px) {
  .product-cards__product-card__bottom__price {
    margin-bottom: 20px;
  }
}
.product-cards__product-card__bottom__price__label {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 34px;
  letter-spacing: -1px;
  color: #571463;
  line-height: 130.52%;
}
@media (max-width: 400px) {
  .product-cards__product-card__bottom__price__label {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 70.52%;
  }
}
.product-cards__product-card__bottom__price__value {
  position: absolute;
  top: 0;
  right: -50px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: line-through;
  color: #D4D4D4;
}
@media (max-width: 400px) {
  .product-cards__product-card__bottom__price__value {
    top: -2px;
    right: 0;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
}
.product-cards__product-card__bottom__buttons {
  display: flex;
  gap: 7px;
}
@media (max-width: 400px) {
  .product-cards__product-card__bottom__buttons {
    justify-content: space-between;
  }
}
.product-cards__product-card__bottom__buttons__link {
  height: 50px;
  width: 50px;
  border-radius: 7px;
  text-decoration: none;
  transition: color 0.4s, background-color 0.4s;
  border: none;
  cursor: pointer;
}
@media (max-width: 400px) {
  .product-cards__product-card__bottom__buttons__link {
    height: 40px;
    width: 40px;
  }
}
.product-cards__product-card__bottom__buttons__link--heart {
  background-image: url(./../images/icons/heart.svg);
}
.product-cards__product-card__bottom__buttons__link--cart {
  background-image: url(./../images/icons/cart.svg);
}
.product-cards__product-card__bottom__buttons__link:hover {
  background-color: #008DAB;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 17px;
  margin-bottom: 75px;
}
.pagination__item {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #A4A0A0;
  line-height: 130.52%;
  width: 29px;
  height: 33px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.pagination__item:hover {
  background-color: #F5F4F4;
}
.pagination__item--active {
  background-color: #F5F4F4;
}
.pagination__item--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #571463;
}
.pagination__item--arrowR::after {
  content: "";
  background-image: url("./../images/icons/arrow-pagination.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 33px;
}
.pagination__item--arrowL::before {
  content: "";
  background-image: url("./../images/icons/arrow-pagination.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 33px;
  transform: rotate(180deg);
}

.cart__title {
  margin-bottom: 32px;
}
.cart__sub-title {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #008DAB;
  line-height: 30px;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.cart__body__product {
  display: grid;
  grid-template-columns: repeat(2, 4fr) repeat(3, 2fr) 1fr;
  align-items: center;
  padding: 56px 0 51px;
  border-bottom: 2px solid #F0F0F0;
  column-gap: 15px;
}
.cart__body__product:first-child {
  border-top: 2px solid #F0F0F0;
}
@media (max-width: 1024px) {
  .cart__body__product {
    padding: 36px 0 31px;
  }
}
@media (max-width: 695px) {
  .cart__body__product {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(60px, auto);
  }
}
.cart__body__product__img {
  border-radius: 4px;
  width: 164px;
  justify-self: self-start;
}
@media (max-width: 1024px) {
  .cart__body__product__img {
    width: 100px;
  }
}
@media (max-width: 695px) {
  .cart__body__product__img {
    grid-column: 1/3;
  }
}
@media (max-width: 695px) {
  .cart__body__product__column {
    grid-column: 3/-1;
  }
}
.cart__body__product__column__title {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
@media (max-width: 1024px) {
  .cart__body__product__column__title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 18px;
  }
}
.cart__body__product__column__index {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #B0B0B0;
  line-height: 26px;
}
@media (max-width: 1024px) {
  .cart__body__product__column__index {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}
.cart__body__product__price {
  justify-self: center;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #B0B0B0;
  line-height: 31px;
}
@media (max-width: 1024px) {
  .cart__body__product__price {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
}
@media (max-width: 695px) {
  .cart__body__product__price {
    grid-column: 1/3;
    justify-self: center;
  }
}
.cart__body__product__count {
  justify-self: center;
  width: 72px;
  height: 39px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #3A3E50;
  line-height: 26px;
  background-color: #FAFAFA;
  border: 1px solid #EFEFEF;
  text-align: center;
}
@media (max-width: 1024px) {
  .cart__body__product__count {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .cart__body__product__count {
    width: 42px;
  }
}
@media (max-width: 695px) {
  .cart__body__product__count {
    grid-column: 3/5;
    justify-self: center;
  }
}
.cart__body__product__total-price {
  justify-self: end;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #3A3E50;
  line-height: 36px;
}
@media (max-width: 1024px) {
  .cart__body__product__total-price {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 18px;
  }
}
@media (max-width: 695px) {
  .cart__body__product__total-price {
    grid-column: 5/6;
    justify-self: center;
  }
}
.cart__body__product__btn-delete {
  justify-self: self-end;
  width: 29px;
  height: 29px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url(./../images/icons/white-cross.svg);
}
@media (max-width: 845px) {
  .cart__body__product__btn-delete {
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}
.cart__body__footer {
  padding-bottom: 50px;
  padding-left: 33px;
}
.cart__body__footer__price {
  display: grid;
  grid-template-columns: repeat(2, 4fr) repeat(3, 2fr) 1fr;
  align-items: center;
  margin: 46px 0 64px;
}
@media (max-width: 768px) {
  .cart__body__footer__price {
    margin: 20px 0 30px;
  }
}
.cart__body__footer__price__value {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #3A3E50;
  line-height: 42px;
}
@media (max-width: 1024px) {
  .cart__body__footer__price__value {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 28px;
  }
}
.cart__body__footer__price__amount {
  grid-column-end: -2;
  justify-self: self-end;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #3A3E50;
  line-height: 49px;
}
@media (max-width: 1024px) {
  .cart__body__footer__price__amount {
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 28px;
  }
}
.cart__body__footer__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .cart__body__footer__buttons {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
}
.cart__body__footer__buttons__collect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 92px;
  background: #008DAB;
  border-radius: 50%;
  border: 2px solid #3091A6;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  font-family: Inter, sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 19px;
  text-align: center;
  letter-spacing: -1px;
}
.cart__body__footer__buttons__items__update {
  background-color: #9D48A9;
}
.cart__body__footer__buttons__items__checkout {
  background-color: #571463;
}
@media (max-width: 565px) {
  .cart__body__footer__buttons__items__checkout {
    margin-top: 10px;
  }
}

.button {
  width: 273px;
  height: 67px;
  border-radius: 10px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
  line-height: 37px;
  margin-right: 33px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
@media (max-width: 845px) {
  .button {
    width: 200px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 18px;
  }
}
@media (max-width: 565px) {
  .button {
    width: 100%;
  }
}

.details {
  padding-bottom: 60px;
}
.details__back {
  display: block;
  width: 62px;
  height: 62px;
  background-image: url("../../images/icons/arrow-back.svg");
  margin: 35px 0 42px;
}
@media (max-width: 860px) {
  .details__back {
    margin-bottom: 0;
  }
}
.details__product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 860px) {
  .details__product {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(60px, auto);
  }
}

.product__img {
  width: 460px;
  height: 418px;
  justify-self: center;
  margin-bottom: 122px;
  margin-right: 132px;
}
@media (max-width: 1117px) {
  .product__img {
    margin-right: 70px;
    width: 300px;
    height: 280px;
  }
}
@media (max-width: 860px) {
  .product__img {
    grid-column: 1/1;
    margin: 0;
  }
}
.product__info__category {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #9D48A9;
  line-height: 24px;
  text-transform: uppercase;
}
.product__info__title {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #3A3E50;
  line-height: 52px;
  text-transform: uppercase;
  letter-spacing: -2.5px;
}
@media (max-width: 1276px) {
  .product__info__title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 30px;
  }
}
@media (max-width: 1117px) {
  .product__info__title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -1px;
  }
}
.product__info__stock {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 27px;
  color: #797979;
  line-height: 32px;
  margin-bottom: 29px;
}
.product__info__price {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: #3A3E50;
  line-height: 50px;
  margin-bottom: 34px;
}
.product__info__brand {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #3A3E50;
  line-height: 22px;
  margin-bottom: 8px;
}
.product__info__code {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #3A3E50;
  line-height: 22px;
  margin-bottom: 15px;
}
.product__info__buttons {
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 860px) {
  .product__info__buttons {
    justify-content: flex-end;
  }
}
.product__info__buttons__add {
  width: 350px;
  height: 87px;
  margin-right: 127px;
  border-radius: 12px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
}
@media (max-width: 1276px) {
  .product__info__buttons__add {
    margin-right: 70px;
  }
}
@media (max-width: 1219px) {
  .product__info__buttons__add {
    width: 250px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 28px;
  }
}
@media (max-width: 468px) {
  .product__info__buttons__add {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 20px;
    width: 200px;
  }
}
@media (max-width: 393px) {
  .product__info__buttons__add {
    margin-right: 40px;
  }
}
.product__info__buttons__heart {
  height: 87px;
  width: 87px;
  border-radius: 7px;
  text-decoration: none;
  transition: color 0.4s, background-color 0.4s;
  background-image: url(./../images/icons/big-heart.svg);
}

.description__title {
  margin-bottom: 39px;
}
.description__text {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 23px;
  color: #3A3E50;
  line-height: 48px;
}
.description__text + p {
  margin-top: 30px;
}

.icon {
  background-image: url(./../images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.accordion__title {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 50px;
  color: #3A3E50;
  line-height: 65px;
}
.accordion__list__item {
  padding: 19px 47px 19px 43px;
  border: 2px solid #B3B3B3;
  border-radius: 10px;
  margin-bottom: 33px;
}
.accordion__list__item__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.accordion__list__item__control__title {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #3A3E50;
}
.accordion__list__item__control__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #9D48A9;
}
.accordion__list__item__control__icon--rotate {
  transform: rotate(180deg);
}
.accordion__list__item__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: height;
  transition: all 0.3s ease-in-out;
}

.content-accordion__title {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #A4A0A0;
  line-height: 31px;
  margin: 33px 0 34px;
}
.content-accordion__columns {
  display: flex;
  gap: 0 63px;
}
.content-accordion__columns__column {
  display: flex;
  flex-direction: column;
}
.content-accordion__columns__column__text {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #3A3E50;
  line-height: 41px;
}

.open {
  opacity: 1;
}

.address {
  margin-top: 58px;
}
.address__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 140px;
}
.address__columns__column__grid__title {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 51px;
  color: #9D48A9;
  margin-bottom: 21px;
}
.address__columns__column__grid__address {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #3A3E50;
  margin-bottom: 39px;
}

.grid__subtitle {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #A4A0A0;
  margin-bottom: 25px;
}
.grid__schedule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #3A3E50;
}
.grid__schedule__days {
  display: flex;
  flex-direction: column;
  gap: 12px 0;
}
.grid__schedule__hours {
  display: flex;
  flex-direction: column;
  gap: 12px 0;
}

.map {
  border: 2px solid #CBCBCB;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 20px;
  margin-left: 128px;
}

/*# sourceMappingURL=main.css.map */
